# =========================
# Python bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
*.tmp

# =========================
# Test / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
